@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
    font-family : Inter
}

td {
  padding: .7em .7em .7em 0;
  border-bottom: 1px solid rgb(209, 213, 219);
  color: #2e2e2e;
}